.header {

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__block_1 {
        padding-left: 122px;
        padding-top: 70px;
    }

    &__logo {
        font-size: 36px;
        line-height: 60px;
        letter-spacing: 0.25em;
        color: #00C7FE;
        margin-bottom: 60px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 90px;
    }

    &__button {
        display: flex;
        gap: 60px;
        align-items: center;
    }

    &__button-watch {
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 18px;
        line-height: 21px;
        color: #00C7FE;
        cursor:pointer;
    }

    &__button-zayavka {
        padding: 22px 41px;
        background: #00C7FE;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        border-radius: 40px;
        font-weight: bold;
        border: none;
        outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        cursor:pointer;
    }

    &__ifmg {
        filter: brightness(89%);
    }
}